body {
    background-color: #2195f2;
    color: #ffffff;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .header {
        flex: 1;
        max-width: 600px;
        .title {
            text-align: center;
            font-weight: 300;
        }
        .search {
            background-color: #fff;
            padding: 0 10px;
            border-radius: 2px;
            .search-field {
                width: 100% !important;
            }
        }
    }
    .circular-progress {
        margin-top: 40px;
    }
    .character-list {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin: 10px;
        .character-card {
            margin: 15px;
            padding: 5px;
            min-width: 350px;
            flex-basis: 0;
            cursor: pointer;
            .row{
                display: flex;
                flex-direction: row;
                .name {
                    margin: 15px;
                    font-size: 20px;
                }
                .thumbnail {
                    height: 50px;
                }
                .button {
                    margin: 5px;
                }
            }
            .row-padded{
                padding: 5px;
            }
            .row-centered{
                justify-content: center;
            }
        }
    }
}